$cell-size: 150px;

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px;
  grid-auto-rows: 1fr;
  margin: 0 auto;
  max-width: 60rem;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bbb;


  &.interactor-one {
    background: url(./assets/images/oneCore.gif) no-repeat center center;
    background-size: cover;
  }

  &.interactor-two {
    background: url(./assets/images/twoCore.gif) no-repeat center center;
    background-size: cover;
  }

  &.interactor-three {
    background: url(./assets/images/threeCore.gif) no-repeat center center;
    background-size: cover;
  }

  &.interactor-four {
    background: url(./assets/images/fourCore.gif) no-repeat center center;
    background-size: cover;
  }
}
